*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html{								/*Настроюєм шрифт для*/
	font: normal 16px sans-serif;  
	color: #555;
}
	
ul, nav{			/*Відміняєм цятки для */
	list-style: none;
}

a{
	text-decoration: none;/*Наслідуєм колір батьківського елемента
	та віключаєм підчеркування в менюшки */
	color: inherit;
	
}


.btn{ /*Налаштовуєм кнопоцьку теми*/
	color: #fff;
	border-radius: 10px;
	background-color: #2196F3;
	font-weight: 800;
	text-align: center;
}

.btn1{
	color: #fff;
	border-radius: 10px;
	background-color: #2196F3;
	font-weight: 800;
	text-align: center;
	visibility: hidden;
}
.btn2{
	color: #fff;
	border-radius: 4px;
	background-color: red;
	font-weight: 800;
	text-align: center;	
}

.submit{
	color: #fff;
	border-radius: 4px;
	background-color: red;
	font-weight: 800;
	text-align: center;	
}


section{  /*Налаштовуєм секції в боді вирівнювання,виставлюєм в колонки , поля*/
	display: flex;
	flex-direction: column;
	align-items: center;

	padding: 10px 100px;
}

@media (max-width: 1000px){ /*Настроюєм поля при зменшенні ширини для секцій в тілі*/

	section{
		padding: 20px 50px;
	}

}

@media (max-width: 600px){

	section{
		padding: 20px 30px;
	}

}


header{ /*Надаєм хедеру абсолютну позицію , ширину, розміщення вмісту п
	о візьному простору вирівнювання і фіксуєм його */
	position: absolute;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #fff;
	padding: 35px 100px 0;
	position: fixed;
	font-size:  18px;
	color: white;
}

header h2{   	/*Сімейство шрифта і його загальна назва?? */
	font-family: 'Quicksand', sans-serif;
}

header nav{
	display: flex;
}

header nav li{ /*Відступи між кнопками менюшки */
	margin: 0 15px;
}

header nav li:first-child{  /*робим так щоб при зжиманні все лишалося на екрані і нікуди не вилізало */
	margin-left: 0;	
}

header nav li:last-child{
	margin-right: 0;	
}



@media (max-width: 1000px){ /*Знов відступи */
	header{
		padding: 20px 50px;
	}
}


@media (max-width: 700px){ /*Щоб при зменщенні контент вставав в колонку */
	header{
		flex-direction: column;		
	}

	header h2{
		margin-bottom: 15px;
	}
}

h1{ /*шрифтіки */
	font: bold 48px 'Open Sans', sans-serif;
	margin-bottom: 15px;
}

h3{
	font: normal 24px 'Open Sans', sans-serif;
	margin-bottom: 40px;
}


.topbody{  /*надаєм відносну позицію налаштувуєм контунт і висоту */
	
	justify-content: center;
	min-height: 100vh;
	color: #fff;
	text-align: center;
	color: white;
}

.topbody .background-image{ /*задній фон і налаштування  */
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-color: #2196F3;
	z-index: -1;

}





.topbody  iframe{ /*відос до зжаття */
	width: 560px;
	height: 310px;	
}

@media (max-width: 800px){ /*відос після зжаття */
	.topbody iframe{
		width: 300px;
		height: 220px;
	}
}

table{
	display: flex;

}


@media (max-width: 1000px){  /*табличка після здаття */
		table th, td, tr { 
		display: block; 
		margin-left: 15px;

	}


}



.menu .submenu {
  visibility: hidden;
 
}
.menu :hover .submenu {
  visibility: visible;
}


.footer1 { /*футерок а нижче його бекграунд */
	position: relative;
	justify-content: center;
	min-height: 25vh;
	color: #fff;
	text-align: center;
}

.footer1 .background-image{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-color: #2196F3;
	z-index: -1;


}
.textaboutnews{
	margin-top: 20px;
	box-sizing: border-box;
	color: red;
	font-weight: 700;
	font-size:  18px;
	margin-left: 0px;
}
 	